{% load static %}
<div class="" style="margin-left: 12px;">
    <div href="{{ homepage_url }}"  style="color: black;background-color: rgb(255, 255, 255);text-shadow: 2px;height: 60px;width: 200px;font-size: xx-large;padding-top: 0px;padding-left: 20px;">
        {% block brand_title %}
        <div class="gallery">
            <a  href="{{ homepage_url }}" >
              <img src="{% static "images/a2z.png" %}"  width="160" height="70">
            </a>
          </div>
        {% endblock %}      
    </div>
    <small>

    </small>

</div>
